@import url('https://fonts.googleapis.com/css2?family=Noto+Serif+TC:wght@900&display=swap');


* {

  box-sizing: border-box;

}

body {

  margin: 0;
  overflow: scroll;
  background-color: rgb(109, 216, 216);
  font-family: 'Noto Serif TC', serif;

}

#m {  

  position: absolute;
  top: 120px;
  height: calc(100vh - 240px);
  min-height: 310px;
  left: 120px;
  width: calc(100vh - 240px);
  min-width: 310px;
  border: 5px solid rgba(0, 0, 0, 1);

}

#t {

  position: absolute;
  top: calc(100vh - 110px);
  height: 40px;
  /*left: 0;
  right: 0;
  bottom: 70px;
  margin: auto;*/  
  width: 200px;
  left: calc(50vh - 120px);
  border: 0px solid rgba(0, 0, 0, 1);
  display: flex;
  justify-content: center;
  align-items: center;

}

input {
  position: absolute;
  top: calc(100vh - 106px);
  height: 30px;
  width: 52px;
  padding:5px;
  left: calc(50vh + 26px);
  border: 0px solid rgba(0, 0, 0, 1);
  border-radius: 5px;
  background-color: rgb(174, 243, 243);
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: 'Noto Serif TC', serif;

}

#可填數值 input{
  display: none;
}

#比例尺 {
  position: absolute;
  height: 10px;
  left: 0;
  bottom: 0;
  background-color: rgb(255, 255, 255);
}

#最終代碼 {
  position: absolute;
  top: 120px;
  left: calc(106vh + 40px);
  /*right: 120px;*/
  width: calc(100vw - 106vh - 160px);
  height: calc(100vh - 240px);
  min-width: 300px;
  border: 5px solid rgba(0, 0, 0, 1);
  background-color: rgb(255, 170, 217);
  font-family: 'Noto Serif TC', serif;
  overflow: scroll;
}

#按鈕 {
  position: absolute;
  display:flex;
  flex-direction: column;
  justify-content: space-between;
  top: 120px;
  height: calc(100vh - 240px);
  left: calc(100vh - 80px);
  border: 0px solid rgba(0, 0, 0, 1);
}

#按鈕 div {
  background-color: rgb(255, 216, 144);
  border: 5px solid rgb(0, 0, 0);
  height: calc((100vh - 240px)/12);
  width: calc(6vh + 80px);
  font-size: calc(2.3vh - 6px);
  text-align:center;
  line-height: calc((100vh - 340px)/12);
}

#按鈕 div:hover {
  cursor: pointer;
  background-color: rgb(255, 238, 205);
}

#按鈕 div:active {
  cursor: pointer;
  background-color: rgb(255, 190, 59);
}

#畫面變暗 {
  position: absolute;
  height: 100vh;
  width: 100vw;
  background-color: rgba(30, 12, 21, 0.911);
}

#初始化確認視窗 {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  height: 300px;
  width: 600px;
  margin: auto;
  border: 5px solid rgba(0, 0, 0, 1);
  background-color: rgba(255, 0, 140, 1);
}

#確認文字 {
  font-size: 30px;
  text-align: center;
  position: relative;
  top: 30%;
  left: 50%;
  transform: translate(-50%,-50%);
}

#按鈕容器 {
  
  position: relative;
  display: flex;
  justify-content:space-between;
  top: 55%;
  left: 50%;
  width: 65%;
  height: 60px;
  transform: translate(-50%,-50%);
  line-height: 50px;
}

#取消 {
  font-size: 40px;
  text-align: center;
  border: 5px solid rgba(0, 0, 0, 1);
  width: 40%;
  height: 100%;
}

#確認 {
  font-size: 40px;
  text-align: center;
  border: 5px solid rgba(0, 0, 0, 1);
  width: 40%;
  height: 100%;
}

#取消:hover {
  cursor: pointer;
  background-color: rgb(255, 101, 186);
}


#確認:hover {
  cursor: pointer;
  background-color: rgb(255, 101, 186);
}

#取消:active {
  cursor: pointer;
  background-color: rgb(194, 3, 108);
}

#確認:active {
  cursor: pointer;
  background-color: rgb(194, 3, 108);
}

.無 {
  display: none;
}

.動畫開啟 {
  animation-name: 顯現;
  animation-duration:0.8s;
}

.背景變暗 {
  animation-name: 變暗;
  animation-duration:1.5s;
}

.動畫關閉 {
  animation-name: 對話關閉;
  animation-duration:0.8s;
}

.背景變亮 {
  animation-name: 變亮;
  animation-duration:0.8s;
}

#歡迎畫面 {
  font-size: 5vh;
  position: absolute;
  height: 100vh;
  width: 100vw;
  background-color: rgb(109, 216, 216);
  animation-name: 歡迎;
  animation-duration:3s;
  animation-fill-mode: forwards;
}

#啟動中 {
  text-align: center;
  line-height: 100vh;
  animation-name: 取消選取;
  animation-duration:3s;
}


#歡迎畫面:hover {
  cursor: progress;
}

#啟動中:hover {
  cursor: progress;
}

#t:hover{
  cursor: default;
}


@keyframes 取消選取{
  from{
    display: block;
    opacity: 1;
  }
  99%{
    display: block;
    opacity: 1;
  }
  to{
    display: none;
    opacity: 0;
  }
}

@keyframes 歡迎{
  from{
    display: block;
    opacity: 1;
    background-color: rgb(42, 42, 42);
  }
  30%{
    background-color: rgb(109, 216, 216);
  }
  80%{
    display: block;
    opacity: 1;
  }
  99%{
    display: block;
    opacity: 0;
  }
  to{
    display: none;
    opacity: 0;
  }
}


@keyframes 顯現{
  from{
    display: none;
    opacity: 0;
    transform: translate(0%,20%);
  }
  1%{
    display: block;
    opacity: 0;
  }
  16%{
    display: block;
    opacity: 0.6;
  }
  25%{
    display: block;
    opacity: 0.3;
  }
  39%{
    display: block;
    opacity: 0;
  }
  45%{
    display: block;
    opacity: 1;
  }
  55%{
    display: block;
    opacity: 0.3;
  }
  70%{
    display: block;
    opacity: 0.9;
  }
  to{
    display: block;
    opacity: 1;
    transform: translate(0%,0%);
  }
}

@keyframes 變暗{
  from{
    display: none;
    opacity: 0;
  }
  1%{
    display: block;
    opacity: 0;
  }
  to{
    display: block;
    opacity: 1;
  }
}

@keyframes 對話關閉{
  from{
    display: block;
    opacity: 1;
    transform: translate(0%,0%);
  }
  99%{
    display: block;
    opacity: 0;
  }
  to{
    display: none;
    opacity: 0;
    transform: translate(0%,20%);
  }
}


@keyframes 變亮{
  from{
    display: block;
    opacity: 1;
  }
  99%{
    display: block;
    opacity: 0;
  }
  to{
    display: none;
    opacity: 0;
  }
}

@media (max-height: 782px){

  #按鈕 div {
    font-size: 12px;
  }

}


@media (max-height: 550px){

  #最終代碼 {
    position: absolute;
    top: calc(50vh - 155px);
    left: calc(623px - (550px - 100vh) / 2);
    height: 310px;
    border: 5px solid rgba(0, 0, 0, 1);
    background-color: rgb(255, 170, 217);
    font-family: 'Noto Serif TC', serif;
  }

  input {
    top: calc(100vh - 106px + (550px - 100vh) / 2);
    /*bottom: calc(74px - (550px - 100vh) / 2);*/
  }

  #m {
    top: calc(50vh - 155px);
    left: calc(50vh - 155px);
  }
  
  #按鈕 {

    height: 310px;
    left: calc(470px - (550px - 100vh) / 2);
    top: calc(50vh - 155px);

  }

  #按鈕 div {

    height: 26px;
    width: 113px;
    font-size: calc(2.3vh - 6px);
    text-align:center;
    line-height: 16px;
    font-size: 12px;
    
  }

  #t {

    top: calc(100vh - 110px + (550px - 100vh) / 2);
    /*bottom: calc(70px - (550px - 100vh) / 2);*/

  }

}